.main-sidenav {
  //padding: 20px;
}

.main-sidenav-big {
  padding-right: 20px;
  //padding-left: 20px;
}

.main-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
