<div *ngIf="!auth.isLogged">
  <main class="container-fluid">
    <router-outlet></router-outlet>
  </main>
</div>

<ng-container *ngIf="auth.isLogged">
  <mat-toolbar class="main-header">
    <span>Arvato</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container class="main-container" autosize>
    <mat-sidenav #sidenav mode="side" opened class="main-sidenav">

      <mat-list class="main-sidenav" [hidden]="!viewSidenavBig">
        <mat-list-item>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="changeSidenav()">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item><button mat-mini-fab>A</button></mat-list-item>
        <mat-list-item><button mat-mini-fab>B</button></mat-list-item>
      </mat-list>

      <mat-list class="main-sidenav-big" [hidden]="viewSidenavBig">
        <mat-list-item>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="changeSidenav()">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>Aaaaa aaaa</mat-list-item>
        <mat-list-item>Bbbbb bbbb</mat-list-item>
      </mat-list>

    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="main-footer">Footer</mat-toolbar>
</ng-container>
